/* Author:- http://github.com/mharisraza/ */

.fs-35 {
	font-size: 35px!important;
}

.primary-background {
	background-color: #ae52d4!important;
}

.w-65{
	width: 65px;
}

.navy-blue {
	background-color: #b4ffff!important;
}