<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::body})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<br>

	<div class="container">

		<form action="/search" method="get">

			<div class="input-group">
				<div class="input-group-btn search-panel ">
					<select class="form-select form-control form-select-md"
						name="category">
						<option selected>All Categories</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
				<input type="hidden" name="search_param" value="all"
					id="search_param"> <input type="text" class="form-control"
					name="x" placeholder="Search for any product here."> <span
					class="input-group-btn">
					<button class="btn primary-background text-white" type="submit">SEARCH</button>
				</span>
			</div>
		</form>
	</div>


	<div class="container mt-3">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="card mb-30 shadowed">
					<a class="card-img-tiles" href="#" data-abc="true">
						<div class="inner">
							<div class="main-img">
								<img src="/images/lp1.jpg" alt="Category">
							</div>
							<div class="thumblist">
								<img src="/images/lp2.jpg" alt="Category"><img
									src="/images/lp3.jpg" alt="Category">
							</div>
						</div>
					</a>
					<div class="card-body text-center">
						<h4 class="card-title">Laptops</h4>
						<p class="text-muted">Starting from Rs.35,000/-</p>
						<a class="btn primary-background text-white btn-sm" href="#"
							data-abc="true">View Products</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="card mb-30 shadowed">
					<a class="card-img-tiles" href="#" data-abc="true">
						<div class="inner">
							<div class="main-img">
								<img src="/images/mb1.jpg" alt="Category">
							</div>
							<div class="thumblist">
								<img src="/images/mb2.jpg" alt="Category"><img
									src="/images/mb3.jpg" alt="Category">
							</div>
						</div>
					</a>
					<div class="card-body text-center">
						<h4 class="card-title">Mobiles</h4>
						<p class="text-muted">Starting from $50</p>
						<a class="btn primary-background text-white btn-sm" href="#"
							data-abc="true">View Products</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="card mb-30 shadowed">
					<a class="card-img-tiles" href="#" data-abc="true">
						<div class="inner">
							<div class="main-img">
								<img src="/images/ms1.jpg" alt="Category">
							</div>
							<div class="thumblist">
								<img src="/images/usb.jpg" alt="Category"><img
									src="/images/kboard.jpg" alt="Category">
							</div>
						</div>
					</a>
					<div class="card-body text-center">
						<h4 class="card-title">Accessories</h4>
						<p class="text-muted">Starting from $9</p>
						<a class="btn primary-background text-white btn-sm" href="#"
							data-abc="true">View Products</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
	
	<center><hr class="divider"></center>
	
	<h3 class="text-center">⭐ Explore our other products! ⭐</h3>
	
	<center><hr class="divider"></center>
	
	<br>

	<div class="container">

		<div class="row">

			<div class="col-md-6 col-lg-3 mb-2">

				<div class="card shadowed-1 h-100 border-0 animation">

					<div class="container text-center">
						<img class="m-2" style="max-height: 250px; max-width: 250px;"
							src="/images/lp2.jpg">
					</div>

					<div class="card-body">

						<h6 id="product-title" class="text-center card-title fs-13">ASUS
							VivoBook 15 (2022) Core i3 10th Gen</h6>
						<p id="product-highlight" class="text-center fs-10">The
							outstanding Asus VivoBook 15 laptop, created to simplify your
							workday and improve performance...</p>
						<div class="row">
						
							<div class="col col-sm-6 text-start">
								<p class="text-start fs-13 text-bg-color">Rs.35,000/-</p>
							</div>
							
							<div class="col col-sm-6 text-end">
								<span class="del fs-13 text-danger">Rs.35,000/-</span>
							</div>
							
						</div>
						
						<div class="container text-center">
						<button type="button" class="btn primary-background text-white col-12">Add to Cart</button>
						</div>

					</div>


				</div>


			</div>
			
			
			<div class="col-md-6 col-lg-3 mb-2">

				<div class="card shadowed-1 h-100 border-0 animation">

					<div class="container text-center">
						<img class="m-2" style="max-height: 250px; max-width: 250px;"
							src="/images/lp2.jpg">
					</div>

					<div class="card-body">

						<h6 id="product-title" class="text-center card-title fs-13">ASUS
							VivoBook 15 (2022) Core i3 10th Gen</h6>
						<p id="product-highlight" class="text-center fs-10">The
							outstanding Asus VivoBook 15 laptop, created to simplify your
							workday and improve performance...</p>
						<div class="row">
						
							<div class="col col-sm-6 text-start">
								<p class="text-start fs-13 text-bg-color">Rs.35,000/-</p>
							</div>
							
							<div class="col col-sm-6 text-end">
								<span class="del fs-13 text-danger">Rs.35,000/-</span>
							</div>
							
						</div>
						
						<div class="container text-center">
						<button type="button" class="btn primary-background text-white col-12">Add to Cart</button>
						</div>

					</div>


				</div>


			</div>
			
			
			<div class="col-md-6 col-lg-3 mb-2">

				<div class="card shadowed-1 h-100 border-0 animation">

					<div class="container text-center">
						<img class="m-2" style="max-height: 250px; max-width: 250px;"
							src="/images/lp2.jpg">
					</div>

					<div class="card-body">

						<h6 id="product-title" class="text-center card-title fs-13">ASUS
							VivoBook 15 (2022) Core i3 10th Gen</h6>
						<p id="product-highlight" class="text-center fs-10">The
							outstanding Asus VivoBook 15 laptop, created to simplify your
							workday and improve performance...</p>
						<div class="row">
						
							<div class="col col-sm-6 text-start">
								<p class="text-start fs-13 text-bg-color">Rs.35,000/-</p>
							</div>
							
							<div class="col col-sm-6 text-end">
								<span class="del fs-13 text-danger">Rs.35,000/-</span>
							</div>
							
						</div>
						
						<div class="container text-center">
						<button type="button" class="btn primary-background text-white col-12">Add to Cart</button>
						</div>

					</div>


				</div>


			</div>
			
			
			<div class="col-md-6 col-lg-3 mb-2">

				<div class="card shadowed-1 h-100 border-0 animation">

					<div class="container text-center">
						<img class="m-2" style="max-height: 250px; max-width: 250px;"
							src="/images/lp2.jpg">
					</div>

					<div class="card-body">

						<h6 id="product-title" class="text-center card-title fs-13">ASUS
							VivoBook 15 (2022) Core i3 10th Gen</h6>
						<p id="product-highlight" class="text-center fs-10">The
							outstanding Asus VivoBook 15 laptop, created to simplify your
							workday and improve performance...</p>
						<div class="row">
						
							<div class="col col-sm-6 text-start">
								<p class="text-start fs-13 text-bg-color">Rs.35,000/-</p>
							</div>
							
							<div class="col col-sm-6 text-end">
								<span class="del fs-13 text-danger">Rs.35,000/-</span>
							</div>
							
						</div>
						
						<div class="container text-center">
						<button type="button" class="btn primary-background text-white col-12">Add to Cart</button>
						</div>

					</div>


				</div>


			</div>



		</div>

	</div>



</body>
</html>