<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::body})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<br>

	<div class="container">

		<form action="/search" method="get">

			<div class="input-group">
				<div class="input-group-btn search-panel ">
					<select class="form-select form-control form-select-md"
						name="category">
						<option selected>All Categories</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
				<input type="hidden" name="search_param" value="all"
					id="search_param"> <input type="text" class="form-control"
					name="x" placeholder="Search term..."> <span
					class="input-group-btn">
					<button class="btn primary-background text-white" type="submit">SEARCH</button>
				</span>
			</div>
		</form>
	</div>


	<div class="container mt-3">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="card mb-30">
					<a class="card-img-tiles" href="#" data-abc="true">
						<div class="inner">
							<div class="main-img">
								<img src="/images/lp1.jpg" alt="Category">
							</div>
							<div class="thumblist">
								<img src="/images/lp2.jpg" alt="Category"><img
									src="/images/lp3.jpg" alt="Category">
							</div>
						</div>
					</a>
					<div class="card-body text-center">
						<h4 class="card-title">Laptops</h4>
						<p class="text-muted">Starting from Rs.35,000/-</p>
						<a class="btn primary-background text-white btn-sm" href="#" data-abc="true">View
							Products</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="card mb-30">
					<a class="card-img-tiles" href="#" data-abc="true">
						<div class="inner">
							<div class="main-img">
								<img src="/images/mb1.jpg" alt="Category">
							</div>
							<div class="thumblist">
								<img src="/images/mb2.jpg" alt="Category"><img
									src="/images/mb3.jpg" alt="Category">
							</div>
						</div>
					</a>
					<div class="card-body text-center">
						<h4 class="card-title">Mobiles</h4>
						<p class="text-muted">Starting from $50</p>
						<a class="btn primary-background text-white btn-sm" href="#" data-abc="true">View
							Products</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="card mb-30">
					<a class="card-img-tiles" href="#" data-abc="true">
						<div class="inner">
							<div class="main-img">
								<img src="/images/ms1.jpg" alt="Category">
							</div>
							<div class="thumblist">
								<img src="/images/usb.jpg" alt="Category"><img
									src="/images/kboard.jpg" alt="Category">
							</div>
						</div>
					</a>
					<div class="card-body text-center">
						<h4 class="card-title">Accessories</h4>
						<p class="text-muted">Starting from $9</p>
						<a class="btn primary-background text-white btn-sm" href="#" data-abc="true">View
							Products</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>